body {
    background-color: #FDFBFB !important;
}

.navbar {
    background-color: white !important;
}

.hero-section {
    background-color: #F7F0E7;
}

.our-brand-section {
    background-color: #CB423F;
}